body {
    background-color: rgb(18, 18, 18);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.terminalPrompt {
    display: flex;
    flex-direction: row;
}
.terminalPrompt span {
    color: white;
    margin-left: 4px;
}

.userInput {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    resize: none;
    width: 100%;
    height: auto;
    background: none;
    border: none;
    color: white;
    margin-top: -3px;
    margin-left: 4px;
    overflow: hidden;
}
.userInput:focus{
    outline: none;
}
